<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Mission statement: The invisible closet project aims to provide free resources for low-income students in need, and it is established at Grinnell High School, Grinnell Middle School and the Davis Elementary School.
</p>
