<div class="center jumbotron">
  <h1>Welcome to Invisible Closet!</h1>
  <h2>
    This is the home page for Invisible Closet!
  </h2>

  <%= link_to "Donate Now", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Search Closet", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up!", '#', class: "btn btn-lg btn-primary" %>
</div>
