<% provide(:title, 'home') %>

<h1>Welcome!</h1>

<p>This is the Invisible Closet homepage
  for <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg%20Middle%20School">Grinnell-Newburg
  Middle School</a></p>
<p>Here would be a good place for a short mission statement.</p>
<p>Our contact info is: Fill in.</p>
<p>To request items, click <%= link_to 'here', request_items_path %></p>
<p>To make a donation, click <%= link_to 'here', donate_path %></p>

<h2>Current Needs:</h2>
<ul class="list-group">
  <li class="list-group-item">Toothbrush</li>
  <li class="list-group-item">Winter Coat (Small)</li>
  <li class="list-group-item">Water Bottles</li>
  <li class="list-group-item">Granola Bars</li>
</ul>
