<% provide(:title, 'Current Needs') %>
<h1>Current Needs</h1>
<ul class="list-group">
  <li class="list-group-item">Toothbrush</li>
  <li class="list-group-item">Winter Coat (Small)</li>
  <li class="list-group-item">Water Bottles</li>
  <li class="list-group-item">Granola Bars</li>
</ul>

