<% provide(:title, 'Request') %>

<div class="container">
  Here is where we could sort items by.
  <div class="dropdown">
    <button class="btn-btn-secondary dropdown-toggle"
            type='button'>Item type</button>
    <div class="dropdown-menu">
      <button class="dropdown-item">Clothes</button>
      <button class="dropdown-item">Food</button>
      <button class="dropdown-item">School Supplies</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-sm-6 item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Toothbrush</h5>
        <p class="card-text"></p>
        <a class="btn btn-primary" href="">Add</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Water Bottle</h5>
        <p class="card-text"></p>
        <a class="btn btn-primary" href="">Add</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Winter Coat</h5>
        <p class="card-text">Size: small</p>
        <a class="btn btn-primary" href="">Add</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">T-Shirt</h5>
        <p class="card-text">Size: Medium</p>
        <a class="btn btn-primary" href="">Add</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sunscreen</h5>
        <p class="card-text"></p>
        <a class="btn btn-primary" href="">Add</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Colored Pencils</h5>
        <p class="card-text"></p>
        <a class="btn btn-primary" href="">Add</a>
      </div>
    </div>
  </div>
  </div>
</div>
