<% provide(:title, @donation.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @donation %>
        <%= @donation.name %>
      </h1>
    </section>
  </aside>
</div>

<%-#= link_to 'Edit', edit_donation_path(@donation) %> |
<%-#= link_to 'Back', donations_path %>
